@font-face {
  font-family: "iconfont";
  src: url('../fonts/iconfont.eot');
  src: url('../fonts/iconfont.eot?#iefix') format('eot'),
    url('../fonts/iconfont.woff2') format('woff2'),
    url('../fonts/iconfont.woff') format('woff'),
    url('../fonts/iconfont.ttf') format('truetype'),
    url('../fonts/iconfont.svg#iconfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

.s::before {
  display: inline-block;
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.s-lg {
  font-size: 1.3333333333333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.s-2x { font-size: 2em; }
.s-3x { font-size: 3em; }
.s-4x { font-size: 4em; }
.s-5x { font-size: 5em; }
.s-fw {
  width: 1.2857142857142858em;
  text-align: center;
}

.s-abajo-fill::before { content: "\EA01" }
.s-abajo::before { content: "\EA02" }
.s-arbol::before { content: "\EA03" }
.s-buscar-ln::before { content: "\EA04" }
.s-noticias-ln-0::before { content: "\EA05" }
.s-pluma-1::before { content: "\EA06" }
.s-pluma-10::before { content: "\EA07" }
.s-pluma-11::before { content: "\EA08" }
.s-pluma-12::before { content: "\EA09" }
.s-pluma-13::before { content: "\EA0A" }
.s-pluma-14::before { content: "\EA0B" }
.s-pluma-15::before { content: "\EA0C" }
.s-pluma-16::before { content: "\EA0D" }
.s-pluma-17::before { content: "\EA0E" }
.s-pluma-2::before { content: "\EA0F" }
.s-pluma-3::before { content: "\EA10" }
.s-pluma-4::before { content: "\EA11" }
.s-pluma-5::before { content: "\EA12" }
.s-pluma-6::before { content: "\EA13" }
.s-pluma-7::before { content: "\EA14" }
.s-pluma-8::before { content: "\EA15" }
.s-pluma-9::before { content: "\EA16" }
.s-pluma::before { content: "\EA17" }
.s-ver-ln::before { content: "\EA18" }
