html {
  font-family: $font-family-sans-serif;
  font-size: 14px !important;
}

 .container.principal {
   .home & {
     width: 100%;
     max-width: 100%;
   }
}

.fundi-font {
  font-family: $font-family-meta;
}

.viejuno-font {
  font-family: $font-family-alt;
}

a {
  color: $azul;
  &:hover, &:focus {
    text-decoration: none;
  }
  &:hover {
    color: $gray-dark;
    .banner & {
      color: $allo;
      background-color: transparent;
    }
  }
}

body:not(.home) {
  main.main {
    margin-top: 84px;
  }
}

textarea {
	border: 3px solid $gray-light-semi;
	padding: 5px;
  outline: none;
  &:focus {
    border: 4px solid $gray-light;
  }
}
