// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$rojo:         #780b0b;
$naranja:      #de572c;
$crema:        #eff1df;
$azul:         #46758f;
$allo:         #d6c23d;

$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-light-semi:        lighten($gray-base, 70%) !default;
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee

//tipos
$font-family-serif:      volkhov;
$font-family-sans-serif: futura;
$font-family-meta:       fundi;
$font-family-alt:        viejuno;
$font-family-base:       $font-family-sans-serif;

// composición
$pad: 30px;

// mixins
// ---------------
@mixin font-meta($size: 12px) {
  font-size: $size;
  font-family: $font-family-meta;
  text-transform: uppercase;
  letter-spacing: .2em;
  line-height: 1.5em;
}
