body.contacto {
  background-color: $crema;
  .main {
    padding-bottom: 200px;
    padding-top: $pad;
    > p, > ul {
      max-width: 600px;
    }
    .wpcf7-form {
      margin-top: $pad;
      background-color: white;
      padding-top: $pad;
      padding-bottom: 1px;
      max-width: 600px;

      p:first-of-type {
        margin: 0;
      }
      label, .adjunto {
        display: block;
        color: $gray-light-semi;
        font-size: 1rem;
        letter-spacing: .05em;
        span.label {
          margin-left: $pad;
        }
      }
      .adjunto  {
        padding-left: $pad;
        padding-right: $pad;
        span {
          display: block;
          margin-top: 15px;
          margin-bottom: 15px;
        }
      }
      .enviar {
        margin-left: $pad;
      }
      .wpcf7-response-output {
        margin: $pad;
        padding: $pad;
        font-size: 1.5rem;
      }
      span[role="alert"] {
        padding-left: $pad;
        padding-right: $pad;
      }
      input[type="text"], input[type="email"] {
        width: calc(100% - #{$pad} * 2);
        padding-left: $pad;
        padding-right: $pad;
        margin-bottom: 0;
        border-bottom: 3px solid $gray-light-semi;
        &:focus {
          box-shadow: 0 1px 0 0 $gray-light;
          border-bottom-color: $gray-light;
        }
      }
      textarea {
        margin: $pad;
        min-height: 150px;
        width: calc(100% - #{$pad} * 2);
      }
    }

    @media #{$medium-and-up} {
      article {
        header {

        }
        .contenido {
        }
      }
    }
  }
}
