body.enlaces-y-archivos {
  background-color: $crema;
  .main {
    padding-top: $pad;
    .arbol {
      a {
        line-height: 1em;
        letter-spacing: .05em;
        .s {
          display: block;
        }
      }
    }
    .cabecera {
      ul {
        background-color: transparent;
      }
      li {
        a {
          color: $azul;
          letter-spacing: .1em;
        }
      }
      .indicator {
        background-color: $azul;
      }
    }
    #archivos, #enlaces {
      ul {
        li {
          display: block;
          margin-bottom: 1em;
          border-bottom: 1px solid $gray-lighter;
          padding-bottom: 1em;
          padding-left: $pad;
          padding-right: $pad;
          &:first-child {
            padding-top: $pad;
          }
          &:last-child {
            border-bottom: none;
          }
          a {
            width: 100%;
            font-weight: bold;
          }
          .descripcion {
            width: 100%;
          }
        }
      }
      width: calc(100% - 1.5rem);
      margin-left: .75rem;
      background-color: white;
      font-size: 1rem;
      letter-spacing: .03em;
      p {
        margin-top: 0;
      }
    }
    @media #{$medium-and-up} {
      #archivos, #enlaces {
        ul {
          li {
            display: flex;
            a {
              flex-basis: 100%;
              flex-shrink: 2;
            }
            .descripcion {
              flex-basis: 100%;
            }
          }
        }
      }


    }
  }
}
