#trigger {
  position: absolute;
  top: 10px;
}

.front-bg {
  top: 0;
  left: 0;
  width: 100vw;
  background: url('../images/cayara-peq.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position:top;
  z-index: -100;
  .abajo-1 {
    display: none;
    position: absolute;
    bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 64px;
    margin-left: calc(50vw - 32px);
    span {
      position: absolute;
      &.s-abajo {
        color: black;
      }
    }
    &:hover {
      .s-abajo {
        color: white;
      }
      .s-abajo-fill {
        color: black;
      }
    }
  }
}

#existe-la-magia {
  padding-top: $pad;
  padding-bottom: $pad;
  background-color: $crema;
  color: $gray-dark;
}
#personas-destacadas {
  padding-top: $pad;
  padding-bottom: $pad;
  background-color: $naranja;
  .owl-item {
    text-align: center;
  }
  a {
    position: relative;
  }
  img, .sin-avatar {
    display: block;
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    border: 6px solid $crema;
  }
  .sin-avatar {
    color: $crema;
    font-size: 96px;
    background-color: $gray-dark;
    &::before {
    }
  }
  h3 {
    display: block;
    font-size: 1rem;
    color: white;
    text-align: center;
    letter-spacing: .1em;
  }
}




  @media #{$medium-and-up} {
    .front-bg {
      position: fixed;
      height: 100vh;
      background: url('../images/cayara.jpg');
      background-size: cover;
      background-position:center;
      .abajo-1 {
        display: block;
      }
    }
    #existe-la-magia {
      position: relative;
      top: 100vh;
    }
    #personas-destacadas {
      position: relative;
      top: calc(100vh);
      overflow: hidden;

    }
  }
