body.galeria-de-fotos {
  background-color: $crema;
  .main {
    padding-top: $pad;
      h2 {
        font-size: 1.5rem;
        font-weight: bold;
        letter-spacing: .05em;
        color: $gray-dark;
      }
      .gallery {
        // a {
        //   display: inline-block;
        //   margin-right: $pad;
        //   margin-bottom: $pad;
        //   img {
        //     transition: opacity .5s;
        //     &:hover {
        //       opacity:0.5;
        //       transition: opacity .5s;
        //     }
        //   }
        // }
      }
  }
}
