.banner {

  nav {
    top: 0;
    height: 315px;
    background-color: $rojo;
    z-index: 200;
    .brand {
      text-align: center;
    }
    .logo-wrapper {
      position: relative;
      width: 220px;
      height: 265px;
      margin-left: auto;
      margin-right: auto;
      .top-line {
        position: absolute;
        top: 30px;
        width: 100%;
        height: 20px;
        border-top: 3px solid white;
        border-left: 3px solid white;
        border-right: 3px solid white;
      }
      .bottom-line {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 20px;
        border-bottom: 3px solid white;
        border-left: 3px solid white;
        border-right: 3px solid white;
      }
      .nombre-a, .subtitulo {
        display: block;
        font-size: 12px;
        letter-spacing: .2em;
        text-transform: uppercase;
        line-height: 1.5em;
      }
      .nombre-a {
        padding-top: 60px;
      }
      .nombre-b {
        display: block;
        font-size: 24px;
        line-height: 2em;
        letter-spacing: .4em;
        margin-right: -45px;
        margin-left: -40px;
      }
      .s-pluma {
        display: block;
        font-size: 90px;
        &::before {
          line-height: .7em;
        }
      }
      .subtitulo {
        width: 100px;
        margin-left: auto;
        margin-right: auto;
      }
    }
    .button-collapse {
      margin-top: 15px;
      display: block;
      width: 35px;
      float: none;
      margin-left: auto;
      margin-right: auto;
      .icon-bar {
        display: block;
        width: 30px;
        height: 4px;
        margin-top: 4px;
        background-color: white;
      }
    }
    #movil {
      background-color: $crema;
      padding-top: 30px;
      li {
        a {
          @include font-meta(18px);
          color: $rojo;
        }
      }
    }
  }
}



@media #{$medium-and-up} {
  .banner {
    nav {
      position: fixed;
      height: 84px;
      background-color: &rojo;
      transition: height .5s, background-color .5s;
      .logo-wrapper {
        height: 74px;
        float: left;
        margin-left: 60px;
        margin-right: 0;
        transition: height .5s;
        .nombre-a {
          padding-top: 10px;
        }
        .nombre-b {
          line-height: 1.2em;
        }
        .subtitulo {
          width: auto;
        }
      }
      #menu-principal {
        margin-right: 10px;
        .menu-item {
          margin-top: 15px;
          padding-top: 10px;
          border-top: 3px solid white;
          text-align: left;
          margin-right: 20px;
          &:nt-child(2) {
            clear:right;
          }
          a {
            @include font-meta(12px);
            padding-left: 0;
            width: 100px;
          }
          &.enlaces {
            clear:left;
          }
        }
      }
    }
    .home & {
      nav {
        background-color: transparent;
        height: 315px;
        .logo-wrapper {
          height: 265px;
          transition: height .5s;
          .nombre-a {
            padding-top: 60px;
            transition: padding-top .5s;
          }
          .nombre-b {
            line-height: 2em;
            transition: line-height .5s;
          }
          .subtitulo {
            width: 100px;
          }
        }
        #menu-principal {
          .menu-item {
            margin-top: 30px;
            padding-top: 15px;
            transition: margin-top .5s, padding-top .5s;
          }
        }
        &.peq {
          height: 84px;
          background-color: $rojo;
          transition: height .5s, background-color .5s;
          .logo-wrapper {
            height: 74px;
            transition: height .5s;
            .top-line, .bottom-line, .s-pluma {
              display: none;
            }
            .nombre-a {
              padding-top: 10px;
              transition: padding-top .5s;
            }
            .nombre-b {
              line-height: 1.2em;
              transition: line-height .5s;
            }
            .subtitulo {
              width: auto;
            }
          }
          #menu-principal {
            .menu-item {
              margin-top: 15px;
              padding-top: 10px;
              transition: margin-top .5s, padding-top .5s;
            }
          }
        }
      }
    }
    body:not(.home) & {
        .top-line, .bottom-line, .s-pluma {
          display: none;
        }
    }
  }
}



@media #{$large-and-up} {
  .banner {
    nav {
      #menu-principal {
        .menu-item {
          &.enlaces {
            clear:none !important;
          }
        }
      }
    }
  }
}
