body.las-cartas {
  background-color: $crema;
  .main {
    padding-top: $pad;
    article {
      margin-bottom: $pad;
      header {
        a {
          img {
            width: 100px;
            height: 100px;
            border: 4px solid white;
          }
          .sin-avatar {
            width: 100px;
            height: 100px;
            border: 4px solid white;
          }
          h1 {
            font-weight: bold;
            font-size: 1.3rem;
            letter-spacing: .1em;
            margin-top: 0;
          }
          .sin-avatar {
            display: block;
            background-color: $gray-dark;
            color: $crema;
            font-size: 64px;
            &::before {
              margin-left: 13px;
              margin-top: 13px;
            }
            & ~ h1 {
              margin-top: 10px;
            }
          }
        }
      }
      .contenido {
        .carta {
          display: inline-block;
          width: 100%;
          margin-bottom: 15px;
          padding: 15px 15px 10px;
          background-color: white;
          border-radius: 3px;
          margin-right: 15px;
          transition: background-color .5s;
          img {
            height: 100px;
            width: 100px;
            margin-right: 10px;
          }
          .meta {
            display: inline-block;
            vertical-align: top;
            transition: color .5s;
            span {
              display: block;
              letter-spacing: .1em;
              &.titulo {
                font-size: 1rem;
                line-height: 1.2em;
              }
              &.fecha {
                margin-top: 5px;
                font-size: .8rem;
                font-weight: bold;

              }
            }

          }
          &:hover {
            background-color: $azul;
            transition: background-color .5s;
            img {
              filter: grayscale(100%);
            }
            .meta {
              color: white;
              transition: color .5s;
            }
          }
        }
      }
    }
    @media #{$medium-and-up} {
      article {
        .contenido {
          .carta {
            width: 300px;
            .meta {
              width: 150px;
            }
          }
        }
      }
    }
  }
}
