body.page {
  background-color: $crema;
  main {
    .page-header {
      background-color: $naranja;
      padding-top: $pad;
      padding-bottom: $pad;
      h1 {
        color: white;
        font-weight: bold;
        font-size: 2rem;
        letter-spacing: .08em;
      }

    }
  }
}
