body.single-carta {
  background-color: $crema;
  .main {
    padding-top: $pad;
    header {
      h1 {
        font-size: 2rem;
        font-weight: bold;
        letter-spacing: .05em;
        color: $gray-dark;
      }
      .meta {
        padding: 10px $pad;
        border-bottom: 2px solid $gray-dark;
        border-top: 2px solid $gray-dark;
        background-color: white;
        font-size: .8rem;
        font-weight: bold;
        letter-spacing: .1em;
        p, time {
          margin-bottom: 0;
          margin-top: 0;
        }
      }
    }
    .entry-content {
      padding: $pad;
      background-color: white;
      *:first-child {
        margin-top: 0;
      }
      .gallery {
        // a {
        //   display: inline-block;
        //   margin-right: $pad;
        //   img {
        //     transition: opacity .5s;
        //     &:hover {
        //       opacity:0.5;
        //       transition: opacity .5s;
        //     }
        //   }
        // }
      }
    }
  }
}
